@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<EstadoSistema CodigoEstado="200" />
<EstadoSistema CodigoEstado="500" />
<EstadoSistema CodigoEstado="404" />
<EstadoSistema CodigoEstado="800"/>