@page "/mihistoria"

<div class="p-4 mb-4 bg-light border rounded">
    <h1>Mi historia</h1>

    <p>
     Mi nombre es Dayanna y desde que tengo la capacidad de conocer me ha interesado la ciencia y la tecnología (y hello kitty definitivamente).
     Soy una mujer autónoma quien estudia una ingeniería, hace deporte y me gusta compartir el tiempo con mi pareja, familia y amigos.
    </p>

</div>


<div class="row">

    <div class="col-md-4">
        <div class="card">

            <img src="images/formacion.jpg" class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">Formación</h5>

                <p class="card-text">
                    Aquí cuento sobre mi formación profesional y mi trayectoria.
                </p>

                <button class="btn btn-primary">Conocer más</button>

            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card">

            <img src="images/hobbies.png" class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">Hobbies</h5>

                <p class="card-text">
                    Aquí cuento sobre mis hobbies y mis pasatiempos favoritos.
                </p>

                <button class="btn btn-primary">Conocer más</button>

            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card">

            <img src="images/carrera.jpg" class="card-img-top">

            <div class="card-body">

                <h5 class="card-title">Mi carrera</h5>

                <p class="card-text">
                    Aquí describo mi carrera y mis conocimientos de mis estudios.
                </p>

                <button class="btn btn-primary">Conocer más</button>

            </div>
        </div>
    </div>

</div>